@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* VARIABLES */
:root {
    /* variables de colores*/
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    /* Fuentes */
    --fuente: 'Roboto', sans-serif;
    /* Tamaños tipograficos */
    --parrafos: 12px;
    --titulos: 24px;
    --precio: 18px;
    --descuento: 16px;
    --descripcion: 16px
}

/* GENERALES */

body {
    background-color: var(--gris-claro);
}

* {
    margin: 0%;
    padding: 0%;
    font-family: var(--fuente);
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style: none;
}

/* HEADER */

header {
    background-color: var(--amarillo);
    padding: 25px 0;
}

header div.logo {
    width: 130px;
    margin-left: 25px;
}

div.busqueda input {
    display: inline;
    margin-left: 15px;
    margin-top: 15px;
}


header p {
    margin: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: var(--parrafos);
}

nav.primerasListas {
    font-size: var(--parrafos);
    margin: 15px;
    margin-left: 0%;
}

nav.primerasListas ul li{
    display: none;
}

nav.segundaLista {
    font-size: var(--parrafos);
}

nav.segundaLista ul li {
    display: none;
}

div.burger-menu {
    background-color: var(--celeste);
    border-radius: 5px;
    color: white;
    width: 15px;
    padding: 7px;
    margin: 25px auto 0;
    /* top right-left bottom */
    /* top right bottom left */
    /* 0 15px 5px 7px */
}

/* PRODUCTOS */

main.home__productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main.home__productos section.home__seccion-productos{
    width: 90%; 
}

main.home__productos section.home__seccion-productos article.seccion__productos--targetas div.descripcion{
    background-color: white;
    border-top: 1px solid #ebebeb;
    margin-bottom: 10px;
    padding: 0px 15px 0px;
}

main.home__productos section.home__seccion-productos article.seccion__productos--targetas div.envio{
    color: var(--verde);
    border: 1px solid var(--verde);
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
}

main.home__productos section.home__seccion-productos article.seccion__productos--targetas div.descripcion p.descuento {
    color: var(--verde);
    padding-bottom: 15px;
}

main.home__productos section.home__seccion-productos article.seccion__productos--targetas div.descripcion h5{
    color: grey;
    padding-bottom: 15px;
    display: none;
}

main.home__productos section.home__seccion-productos h4 {
    color: var(--gris-oscuro);
    margin: 10px 0px 10px;
}


/* FOOTER */
footer {
    padding: 10px;
    background-color: white;
    padding: 50px 10px 10px;
}

footer article {
    text-align: center;
    margin-bottom: 50px;
}

footer article i {
    font-size:  2em;
    color: var(--celeste);
    margin-bottom: 10px;
}

footer span {
    font-size: var(--parrafos);
}

/* TABLET */
@media (min-width: 361px){
    main.home__productos section.home__seccion-productos article.seccion__productos--targetas{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    nav.primerasListas ul li{
        display: block;
    }
    nav.segundaLista ul li {
        display: block;
    }
    div.burger-menu {
        display: none;
    }
    main.home__productos section.home__seccion-productos article.seccion__productos--targetas div.descripcion h5{
        display: block;
    }
}

/* DESKTOP */
@media (min-width: 769px){
    main.home__productos section.home__seccion-productos article.seccion__productos--targetas{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    nav.primerasListas ul li{
        display: block;
    }
    nav.segundaLista ul li {
        display: block;
    }
    div.burger-menu {
        display: none;
    }
    main.home__productos section.home__seccion-productos article.seccion__productos--targetas div.descripcion h5{
        display: block;
    }
}

